.mydiv{
    background-color: black;
    min-height: 100vh;
}

.wallethead{
    color:white;

    font-size:30px;
    font-weight: 800;
    
}

.walletheadtwo{
    color:black;

    font-size:30px;
    font-weight: 800;
    
}

.mainpara{
    color:white;
    font-size:17px;
    text-align: center;
}

.mainparafooter{
    color:rgb(112, 123, 143);
    font-size:17px;
    text-align: center;
}

.footerlink{
    color: white;
    text-decoration: none;
}

.most{
    color: rgb(100, 143, 243);
    font-weight: bold;
    font-size: 14px;
    margin-top: -0.7rem;
    white-space: nowrap;
    z-index: 1;

}

.myflexdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cup{
    height: 200px;
    width: 170px;
  background-color: transparent;
  border: 0.8px solid rgb(112, 123, 143);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popular{
    width:90px;

}

.populartext{
    color:white;
    font-size:13px;
    font-weight: bold;
}



.walletimage{
    width:150px;
   
}

.walletpara{
    color:black;
    font-weight:bold;
}

.modalbg{
    background-color: rgb(226, 226, 226);
}

.modaltitle{
    font-size:17px;
    color:rgb(33, 114, 229);
    

}

.errordiv{
    border:1.3px solid red;
    border-radius: 15px;
}


.greydiv{
    border:1.3px solid rgb(57, 57, 57);
    border-radius: 15px;
}

.connect{
    background-color: rgb(86, 90, 105);
    font-size:13px;
    font-weight: bold;
    margin-left: 20px;
}

.infinity{
    color:rgb(86 77 77);
    font-size:14px;
    
}

.easy{
    color:rgb(86 77 77);
    font-size:11px;
}

.smallimage{
    width:40px;
    
}

.modalheight{
    
}
.secondmodimage{
    width:80px;
}

.secondmod{
    font-size: 18px;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: white;
    /* background-color: white; */
}

.smallest{
    font-size: 11px;
    font-weight:500;
    margin-top: 15px;
    text-align: center;
}

.myline{
    margin-left: 50px;
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .cup{
        height: 200px;
        width: 100%;
      background-color: transparent;
      border: 0.8px solid rgb(112, 123, 143);
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }


    .popular{
        width:60px;
    
    }
    
    .populartext{
        color:white;
        font-size:11px;
        font-weight: bold;
    }
    
    .walletimage{
        width:80px;
       
    }

    .myline{
        margin-left: 0;
    }

  }